@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", sans-serif;

  --color-primary: #222222;
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;
  --color-red: #fd7563;

  /* ===== Gray 팔레트 ===== */
  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #e4e4e4;
  --color-gray-300: #cfcfcf;
  --color-gray-400: #a9a9a9;
  --color-gray-500: #7b7b7b;
  --color-gray-600: #555555;
  --color-gray-700: #3a3a3a;
  --color-gray-800: #262626;
  --color-gray-900: #1a1a1a;

  /* ===== Red 팔레트 ===== */
  --color-red-50: #fff5f4;
  --color-red-100: #ffe5e3;
  --color-red-200: #ffc9c4;
  --color-red-300: #ffa19b;
  --color-red-400: #ff7f77;
  --color-red-500: #fd7563;
  --color-red-600: #e55f50;
  --color-red-700: #c7493d;
  --color-red-800: #a03331;
  --color-red-900: #7a2425;

  /* ===== Blue 팔레트 ===== */
  --color-blue-50: #f3f8ff;
  --color-blue-100: #e0edff;
  --color-blue-200: #bcd8ff;
  --color-blue-300: #8cbfff;
  --color-blue-400: #5aa5ff;
  --color-blue-500: #2a8bff;
  --color-blue-600: #1f6fd6;
  --color-blue-700: #1856ad;
  --color-blue-800: #123f86;
  --color-blue-900: #0c2b61;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-400);
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}
